@import "style.scss";

header {
  width: 100%;
  height: 75px;
  background-color: $turquoiseColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .headerContainer {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoContainer {
      width: 205px;
      height: 45px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .logoIcon {
        height: 45px;
        width: auto;

        #arrow_logoIcon {
          fill: $orangeColor;
          display: inline;
        }
        #pause_logoIcon {
          fill: $navyBlueColor;
          display: inline;
          position: relative;
          left: -8px;
        }
      }
      .logoText {
        width: 110px;
        height: 45px;
        font-size: 24px;
        line-height: 45px;
        font-family: Inter, sans-serif;
        text-align: center;
        font-weight: 500;
        color: $navyBlueColor;
        position: relative;
        left: -16px;
        .orangeLogoText {
          color: $orangeColor;
          font-weight: 600;
          text-shadow: 2px 2px $navyBlueColor;
        }
      }
    }

    .nameAndTwoButtonsContainer {
      width: 450px;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .userName {
        font-size: 24px;
        font-family: Inter, sans-serif;
        color: $navyBlueColor;
        height: 45px;
        width: 232px;
        font-weight: 600;
        text-align: right;
        position: relative;
        top: 10px;
        margin-right: 18px;
      }
    }
  }
}

aside {
  width: 270px;
  height: calc(100% - 75px);
  background-color: $yellowColor;
  position: absolute;

  .buttonContainer {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

main {
  width: calc(100% - 270px);
  height: calc(100% - 75px);
  background-color: $navyBlueColor;
  position: absolute;
  top: 75px;
  left: 270px;
}