@use "sass:color";

$navyBlueColor: #023859;
$turquoiseColor: #03A6A6;
$yellowColor: #F2CB05;
$beigeColor: #F2C894;
$orangeColor: #F25C05;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}